@import "~bootstrap/scss/bootstrap";

$text-area-bgcolor: #fff;

%centered-content-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.centered-content {
    @extend %centered-content-flex-container;
}

.compensate-header {
    @extend %centered-content-flex-container;
    padding-top: 15.4vw;
}

.title {
    color: #333;
}

.subtitle {
    color: #666;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.cursor-not-allowed:hover {
    cursor: not-allowed;
}

.room-page-sub-header {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-bottom: 1px solid #eee;
}
