.message {
    position: relative;
    max-width: 60%;
    border-radius: 4px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    overflow-wrap: break-word;
}

.arrow {
    position: absolute;
    top: 15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.right {
    right: -15px;
    border-right: none;
    border-left: 15px solid;
}

.left {
    left: -15px;
    border-right: 15px solid;
    border-left: none;
}
