.message {
    position: relative;
    color: white;
    background-color: green;
    width: auto;
    max-width: 60%;
    border-radius: 4px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    overflow-wrap: break-word;
}

.message.msg-right{
    border-top-right-radius: 0;
}

.message.msg-left{
    border-top-left-radius: 0;
}

.msg-box-arrow {
    position: absolute;
    top: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.right {
    right: -15px;
    border-right: none;
    border-left: 10px solid;
}

.left {
    left: -15px;
    border-right: 10px solid;
    border-left: none;
}
