.message {
    position: relative;
    color: white;
    background-color: green;
    min-width: 30%;
    width: auto;
    max-width: 60%;
    border-radius: 4px;
    padding-top: 1vw;
    padding-right: 10px;
    padding-bottom: 1vw;
    overflow-wrap: break-word;
}

.message.msg-right{
    border-top-right-radius: 0;
    padding-left: 20px;
}

.message.msg-left{
    border-top-left-radius: 0;
    padding-right: 20px;
}

.msg-box-arrow {
    position: absolute;
    top: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.right {
    right: -15px;
    border-right: none;
    border-left: 10px solid;
}

.left {
    left: -15px;
    border-right: 10px solid;
    border-left: none;
}

.msg-menu-icon{
    position: absolute;
    top: 3px;
    visibility: hidden;
    cursor: pointer;
}

.message:focus,
.message:hover{
    .msg-menu-icon{
        visibility: visible;
    }
}

.msg-menu-icon.msg-right{
    left: 5px;
}

.msg-menu-icon.msg-left{
    right: 5px;
}

.message-timestamp{
    margin: 0 0 0 5px;
    color: #ccc;
    font-size: 12px;
}