$hover-color: #ddeef6;
$foreground-color: white;

@mixin header-text-general {
    text-decoration: none;
    color: $foreground-color;
}

@mixin header-item-right-justified {
    margin: 0 1vw 0 1vw;
}

.logo {
    @include header-text-general();
    font-family: "Playball", cursive;
    font-size: calc(0.6em + 1vw);
}

.logo:hover,
.logo:active,
.header-text:hover,
.header-text:active {
    color: $hover-color;
    cursor: pointer;
    /*outline: 0 prevents the appearance of a box around the element when clicked/focused*/
    outline: 0;
    text-decoration: none;
}

.header-text {
    @include header-item-right-justified();
    @include header-text-general();
    font-weight: bold;
}

.header-item-container {
    margin: auto
}

.header-icon {
    @include header-item-right-justified();
    color: $foreground-color;
}

.header-icon:hover,
.header-icon:active {
    color: $hover-color;
    cursor: pointer;
}
