@import '../../assets/styles/custom.scss';

.landing-page{
    @extend %centered-content-flex-container;
    font-size: 3em;
}

.inner-wrapper{
    margin: auto;
}

.buttons-container{
    text-align: center;
}

.buttons-container>button{
    margin-left: 10px;
}