@import "../../../../assets/styles/custom.scss";

.chat-message-form {
    background-color: #f0f0f0;
}

.textarea-wrapper {
    border: 1px solid white;
    background-color: $text-area-bgcolor;
    border-radius: 30px;
    padding: 0.4vw;
    overflow: hidden;
    margin: auto;
}

//Using :focus-within because the actual focus is in the textarea which is child of element with this class name
//A non-input element cannot use :focus and hence to make the element with this class use the :focus pseudo-class
//we use :focus-within which 'matches' if any of the child element have gained focus
.textarea-wrapper:focus-within {
    border: 2px solid rgba(0, 121, 250, 0.4);
    box-shadow: 0 0 5px rgba(0, 121, 250, 0.4);
}

.textarea-flex-container {
    flex: 9 0 0;
}

.send-btn-flex-container {
    flex: 1 0 0;
    padding-left: 1vw;
}
